.headingWrapper {
  text-align: start;
}
.center {
  text-align: center;
}
.title {
  font-size: 1.5rem;
  font-weight: 700;
}
.subtitle {
  font-weight: 300;
  margin-top: 0.5rem;
  color: #737373;
}

@media (min-width: 320px) and (max-width: 600px) {
  .title {
    font-size: 0.9rem;
  }
  .subtitle {
    font-size: 0.85rem;
    margin-top: 0;
  }
}
