.reservationContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  min-height: 100.3vh;
  padding-top: 6rem;
  margin: 0 calc(30% - 300px);
}

.title {
  font-size: 2rem;
  font-weight: 600;
}

.reservationWrapper {
  padding-top: 2rem;
}

.reservationInfo {
  display: flex;
  flex-direction: column;
  /* width: 550px; */
  width: 50%;
}

.infoTitle {
  padding-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.infoWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid #e6e6e6;
}
.dataTitle {
  font-size: 1.25rem;
  font-weight: 600;
}

.triangle {
  position: absolute;
  top: -7px;
  left: 310px;
  width: 14px;
  background-color: #f6f6f6;
  height: 14px;
  transform: rotate(135deg);
  position: absolute;
  z-index: 2000;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #aeaeae;
  border-left: 1px solid #aeaeae;
}
.modifyDate {
  position: relative;
}

.modifyDateWrapper {
  position: absolute;
  top: 40px;
  left: -296px;
  z-index: 20;
}

.modifyButton {
  border: none;
  background: transparent;
  font-weight: 600;
  text-decoration: underline;
}

.paymentContainer {
  padding-top: 2rem;
}

.paymentOptionContainer {
  padding-top: 2rem;
}

.paymentTitleWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.paymentTitle {
  font-size: 1.25rem;
  font-weight: 600;
}
.creditImageWrapper {
  display: flex;
  gap: 4px;
}

.paymentOptionDropDown {
  box-shadow: 0 4px 5px 0 #00000026;
  position: relative;
}

.paymentOptionDropDown input {
  left: 0;
  visibility: hidden;
  position: absolute;
}

.paymentOptionText {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.dropdownLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

.dropdownContent {
  display: none;
  position: absolute;
  z-index: 20;
  width: 100%;
  left: 0;
  background: white;
  box-shadow: 0 4px 5px 0 #00000026;
}

.paymentOptionDropDown input:checked + label + div {
  display: block;
  border-top: 1px solid #00000026;
}

.dropDownIcon {
  transition: transform 250ms ease-out;
}

.dropdownContent ul {
  list-style-type: none;
  padding: 0 12px;
  margin: 0;
}

.paymentOptionList {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.paymentOptionListWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  font-weight: 600;
  font-size: 0.875rem;
}

.paymentOptionInfo {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  border-bottom: 1px solid #e6e6e6;
}

.paymentOptionInfo label {
  font-size: 0.75rem;
}

.inputContainer {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  padding: 1.5rem 1rem 1rem 1rem;
  font-size: 18px;
  font-weight: 300;
  background: white;
  /* border: none; */
  border: 2px solid #e6e6e6;
  border-radius: 0.375rem;
  outline: none;
  line-height: 20px;
}

.input:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.label {
  font-weight: 400;
  padding-left: 0.5rem;
  color: rgb(161, 161, 170);
  position: absolute;
  line-height: 24px;
  transition-duration: 150ms;
  transform: translateY(-0.825rem);
  top: 1.25rem;
  z-index: 10;
  /* transform-origin: 0px center; */
}

.inputFocused {
  font-size: 12px;
  transform: translateY(-20px);
}

.inputNotFocused {
  font-size: 16px;
}

.expirationAndCVVWrapper {
  padding-top: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

/* input placeHolder */

.input::-webkit-input-placeholder {
  font-size: 0.825rem;
}
.input::-moz-placeholder {
  font-size: 0.825rem;
}
.input:-ms-input-placeholder {
  font-size: 0.825rem;
}
.input:-moz-placeholder {
  font-size: 0.825rem;
}

/* refund */

.refundContainer {
  padding-top: 2rem;
}

.refundTitle {
  font-size: 1.25rem;
  font-weight: 600;
}

.refundInfo {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}

.refundInfo span {
  text-decoration: underline;
}

.refundMore {
  font-weight: 600;
  text-decoration: underline;
  padding: 1rem 0 2rem 0;
  border-bottom: 1px solid #e6e6e6;
  cursor: pointer;
}

/* rule */

.ruleContainer {
  padding: 2rem 0;
}

.ruleTitle {
  font-size: 1.25rem;
  font-weight: 600;
}

.ruleIntro {
  padding-top: 2rem;
}

.ruleList {
  padding: 1rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-bottom: 1px solid #e6e6e6;
}

.ruleList span {
  font-weight: 600;
  text-decoration: underline;
}

.confirmedInfoContainer {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
}

.confirmedInfoContainer span {
  font-weight: 600;
}

.confirmedImage {
  padding-right: 2rem;
}

/* product card */
.productCardContainer {
  position: relative;
}
.productCardWrapper {
  position: sticky;
  top: 100px;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 500px;
  padding: 24px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

.productInfoWrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-bottom: 1.5rem;
}

.productImage {
  border-radius: 12px;
}

.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.categoryInfo {
  font-size: 0.8rem;
  color: #6c6c6c;
}

.reviewInfoWrapper {
  font-size: 14px;
}
.reviewScore {
  font-weight: 600;
}

.titleInfo {
  position: relative;
}
.fcPlanner {
  display: inline;
  margin-right: 8px;
}

/* priceInfo */
.priceInfoHeading {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1.5rem 0;
  border-top: 1px solid #e6e6e6;
}

.priceInfoWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1.5rem;
}

.calculatePriceWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.restayCharge {
  text-decoration: underline;
}

.totalPriceWrapper {
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem 0;
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
}

.cautionText {
  padding: 1.5rem 0;
  font-size: 0.875rem;
}
