.categoryWrapper {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  overflow-x: scroll;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

.categoryWrapper::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}
