.navbarWrapper {
  padding: 1rem 0;
  border-bottom: 1px solid #e6e6e6;
}

.navbarMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 3px;
}
