.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: #525252;
  padding: 5rem;
  border: 2px dashed #d4d4d4;
  cursor: pointer;
}
.container:hover {
  opacity: 0.7;
}
.imageUploadText {
  font-weight: 600;
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}
.imagesWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
}
.uploadImageContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.uploadImageWrapper {
  position: relative;
}
.deleteButton {
  font-weight: 700;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 4px;
  cursor: pointer;
}
