.spinnerContainer {
  padding-top: 6rem;
  min-height: 100.3vh;
}

.spinnerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.spinnerWrapper h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.imageWrapper {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 9999px;
}

.image {
  object-fit: cover;
}
