/* .cardContainer {
  position: relative;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
} */

.listingsWrapper {
  display: block;
  position: relative;
  max-width: 300px;
  border-radius: 12px;
  cursor: pointer;
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: 600;
}
