.contentContainer {
  width: 1024px;
  margin: 112px auto 0 auto;
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
}

.headingContainer {
  position: relative;
}

.swiperSlide {
  opacity: 0.25;
}

.active {
  opacity: 1;
}

.mainCarousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiperWrapper {
  display: block;
  position: relative;
  max-width: 560px;
  border-radius: 12px;
  cursor: pointer;
}

.swiperList {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 520px;
}

.prevButton {
  font-weight: 600;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 10;
  top: 85%;
  left: -10px;
  border: none;
  background-color: transparent;
}
.nextButton {
  font-weight: 600;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 10;
  top: 85%;
  right: 0;
  border: none;
  background-color: transparent;
}

.hostingIntroduce {
  font-size: 22px;
  font-weight: 500;
}

.infoContainer {
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 506px;
  min-height: 460px;
}

.countList {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 26px 30px;
  background-color: rgb(249, 249, 249);
}

.commentTitle {
  font-weight: 600;
}

.bodyContainer {
  padding: 3rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.hostDataContainer {
  width: 550px;
}

.hostingIntroduceInfo {
  padding-bottom: 3rem;
}

.locationInfo {
  padding: 3rem 0;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.descriptionInfo {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mapInfoWrapper {
  padding: 3rem 0;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.mapInfo {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.mapInfoTitle {
  font-size: 24px;
  font-weight: 600;
}

.displayNav {
  display: block;
  width: 100%;
  max-width: 2520px;
  padding: 2rem 5rem;
  position: fixed;
  top: 0%;
  z-index: 260;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px !important;
}

.notdisplayNav {
  display: none;
}

.detailListingNavContainer {
  max-width: 1000px;
  margin: 0 auto;
}
.detailListingNavWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
}
.borderNone {
  border: none;
  background-color: transparent;
  font-weight: 600;
}
