.swiper {
  width: 100%;
  height: 300px;
  border-radius: 12px;
}

.listingsWrapper {
  display: block;
  position: relative;
  max-width: 300px;
  cursor: pointer;
}

.listingsImage {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.prevButton {
  font-weight: 600;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 10;
  top: 130px;
  left: 10px;
  border: 0;
  border-radius: 9999px;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.nextButton {
  font-weight: 600;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 10;
  top: 130px;
  right: 10px;
  border: 0;
  border-radius: 9999px;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.visibleButton {
  opacity: 1;
}
