.container {
  position: relative;
}

.input {
  padding: 14px 20px;
  width: 100%;
  height: 60px;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 4px;
}

.daumPostWrapper {
  position: absolute;
  z-index: 10;
  top: 0;
  width: 100%;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
}

@media (min-width: 320px) and (max-width: 600px) {
  .input {
    padding: 0.25rem;
    height: 46px;
  }
}
