.listingsContainer {
  padding-top: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* 그리드 센터정렬 = justify-content:center, align-item=center랑 동일 */
  place-items: center;
  gap: 2rem;
}
.listingsWrapper {
  position: relative;
  border-radius: 12px;
}
.listingsImage {
  border-radius: 12px;
}

.aiOutlineHeart {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  fill: #f43f5e;
}
.aiFillHeart {
  position: absolute;
  top: 10px;
  right: 10px;
  fill: #f43f5e;
  opacity: 0.7;
  cursor: pointer;
}
