/*category*/
.bodyContentContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.categoryWraaper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.75rem;
  max-height: 50vh;
  overflow-y: scroll;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

.categoryWraaper::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

.categoryContainer {
  grid-column: span 1 / span 1;
}

/*location*/
.location {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* 768px = md */
@media (max-width: 768px) {
  /* category */
  .categoryWraaper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
