.checkIn {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 220px;
  margin: 26px 0;
  color: rgb(113, 113, 113);
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.momentInfo {
  padding: 5px;
}

.momentInfo b {
  font-weight: 600;
}

.arrDown {
  position: absolute;
  right: 10px;
}
