/* body {
  font-family: "KyoboHandwriting2022khn";
}
.normal {
  font-weight: 400;
}
.bold {
  font-weight: 700;
}
.bolder {
  font-weight: 800;
}
.light {
  font-weight: 300;
} */

@font-face {
  font-family: "KyoboHandwriting2022khn";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KyoboHandwriting2022khn.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
